.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.container #header h2 span {
    margin-left: 30%;
}
.container #header i.fa {
    margin-left: 15px;
}
.container #header {
    border: 1px solid black;
    border-radius: 5px;
    height: 80vh;
    width: 60%;
    background-color: #fafafa;
}
