<!-- Freinds section starts -->
<section id="freinds-section">
  <div class="custom-container">
    <div class="filter-container">
      <h5 id="friends__list-click" class="friends__dashboard-filter filter">Your Freinds</h5>
      <h5 data-state="" id="friends__suggestion-click" class="friends__dashboard-filter filter">Meet New Freinds</h5>
      <h5 id="requests__list-click" class="friends__dashboard-filter filter">Friend Request List</h5>
    </div>

    <ul id="friends__dynamic" class="dashboard__item-list">
      <!-- Friends sub sections will be loaded here dynamically. -->
    </ul>

  </div>

  <!-- Keep track if it is sent or accept requests page loaded -->
  <input id="friends__accept-sent" type="hidden">
</section>
