<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----------------------------------------StyleSheet------------------------------------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="../static/styles/dash_board.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../static/scripts/dash_board.js"></script>
    <title>Dash Board</title>
</head>
<body>
    <header>
        <a id="profile" href="#">
            <i id="user-icon" class="fas fa-3x fa-user"></i>
            <p>Edit profile</p>
        </a>

        <div id="header">
            <a href="#">Log out</a>
        </div>
    </header>
    <div class="container">
        <div class="welcome">
            <i id="l-icon" class="fas fa-2x fa-user"></i><h4 id="welcome"></h4><i id="r-icon" class="fas fa-2x fa-user"></i>
        </div>
        <div class="btn">
            <a href="#">Active Members</a>
            <a href="#">All Members</a>
            <a href="#">Notify Member</a>
            <a href="#">Chat Room</a>
        </div>
	<!-- Extra div for storing data -->
	<div id="storage" data-user_name="{{ display_name }}">
    </div>
</body>
</html>
