<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!----------------------------------------StyleSheet------------------------------------>
        <link rel="stylesheet" href="../static/styles/registration.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
	<!----------------------------------------JavaScript------------------------------------>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <script type="module" src="../static/scripts/register.js"></script>
        <title>Registration</title>
    </head>

    <body>
        <div class="entire-box flex">
            <div class="cw-description">
                <div class="description-content">
                    <p>ChatWik</p>
                    <p>Chat Seamlessly With Friends and Family</p>
                </div>
            </div>

            <div class="entire-reg-box">
                <div class="reg-box">
                    <h1>Create an account</h1>
                    <p>Already have an account? <a href="login.html">Login</a></p>
                    <!-- <div id="errorDiv" class="alert alert-danger fade-in">
                    <div id="errorMsg"></div>
                    </div> -->

                    <form id="form" method="POST" action="{{ url_for('register') }}">
                        <div class="name-group">
                            <input class="form-control" id="firstname" name="firstname" placeholder="First name" required>
                            <input class="form-control" id="lastname" name="lastname" placeholder="Last name" required>
                        </div>

                        <div class="form-group">
                            <input class="form-control" id="username" name="username" placeholder="Username (Optional)">
                        </div>
                        
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>


                        <div class="form-group" id="pwd1">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            <span class="pwd-icon">
                                <i class="fas fa-eye" id="pwd1Icon"></i>
                            </span>
                        </div>

                        <div class="form-group" id="pwd2">
                            <input type="password" class="form-control" id="confirmPassword" name="pwd2" placeholder="Confirm Password" required>
                            <span class="pwd-icon">
                                <i class="fas fa-eye" id="pwd1Icon"></i>
                            </span>
                        </div>

                        <div class="terms-group">
                            <input type="checkbox" name="agree-to-terms" id="agree-to-terms">
                            <label for="agree-to-terms">I agree to the <a href="#">Terms and Conditons</a></label>
                        </div>

                        <button type="submit" name="submit" class="btn btn-success">Create account</button>

                    </form>                    
                </div>

            </div>
        </div>

        <div class="verification-modal">
            <div class="verification-modal-content">
                <img src="../static/images/email_icon.jpeg" alt="email_icon">
                <p>Enter Confirmation Code</p>
                <p>
                    Enter the confirmation code we sent to email@email.com 
                    <br>
                    <a href="#">
                        <strong>Resend Code</strong>
                    </a>
                </p>
                <form id="form">
                    <div id="form-sect">
                        <input id="token" placeholder="Confirmation Code">
                        <button type="submit">Next</button>
                        <br />
                        <a href="registration.html"><strong>Cancel</strong></a>
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>
