<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!----------------------------------------StyleSheet------------------------------------>
	<link rel="stylesheet" href="../static/styles/verify-email.css" />
	<!----------------------------------------Script------------------------------------>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="module" src="../static/scripts/veriy-email.js"></script>
	<title>Verify Email</title>
    </head>

    <body>
	<div class="container">
	    <div class="top">
		<img src="../static/images/email_icon.jpeg" alt="email_icon">
		<strong>Enter Confirmation Code</strong>
		<p>Enter the confirmation code we sent to <br />email@email.com <a href="#"><strong>Resend Code</strong></a></p>
		<form id="form">
		    <div id="form-sect">
			<input id="token" placeholder="Confirmation Code" \><br \>
			<button type="submit">Next</button><br />
                        <a href="#"><strong>Go Back</strong></a>
		    </div>
		</form>
	    </div>
	    <div class="buttom">
                <p>Have an account? <a href="#"><strong>Login</strong></a>
	    </div>
	</div>
    </body>
</html>
